[submodule "shared/polka"]
	path = shared/polka
	url = https://github.com/lukeed/polka.git
[submodule "shared/fastify"]
	path = shared/fastify
	url = https://github.com/fastify/fastify.git
[submodule "shared/fastify-docs-chinese"]
	path = shared/fastify-docs-chinese
	url = https://github.com/fastify/docs-chinese.git
